@media screen and (max-width: 1024px) {
    /*estilos*/
} 

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images6.alphacoders.com/420/thumb-1920-420211.jpg);

}

h1{
    padding-left: 170px;
    color: white;
}

/* formatação dos links */
a{
    color: white;
    text-decoration: none;
    padding-left: 75px;
    font-size: 15pt;
}

/* formatação dos inputs */
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1pt solid white;
    font-size: 16pt;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    color: white;
}

#botao{
    margin-left: 17px;
}
/* corpo do formulario */
#corpo-form{

    width: 420px;
    margin: 10% auto 10% auto;
    
}
/* Input de enviar */
input[type=submit]{
    background-color: slategrey;
    cursor: pointer;
}

/* webkit para bugs */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }